@charset "UTF-8";
.sweet-content {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto;
  justify-content: unset !important;
  text-align: initial;
}

.require::after {
  content: "Thuộc tính bắt buộc";
}

table td:nth-child(1)::after {
  content: ":";
}
table td:nth-child(1)::before {
  content: "- ";
}

code {
  font-size: 20px !important;
}

div.attr {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
div.attr::before {
  content: "* (Ghi chú thêm)";
  font-weight: 600;
}
div.attr > span::before {
  content: " * ";
  font-weight: 600;
}
div.attr > span[name]::before {
  content: " * " attr(name) ": ";
  font-weight: 600;
}
