[render] {
  display: none !important;
}

.swal2-shown {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar::before {
  cursor: pointer;
  user-select: none;
  background-color: white !important;
}

.invalid-feedback *,
.invalid-feedback {
  color: red !important;
  font-size: 13px !important;
}

ul:not(.navbar-nav) {
  margin-top: 10px !important;
}
ul:not(.navbar-nav) li i {
  font-size: 18px !important;
  margin-right: 8px !important;
}
ul:not(.navbar-nav) li .dropdown-toggle::after {
  margin-left: 8px;
  transform: rotate(-180deg);
}
ul:not(.navbar-nav) li .dropdown-toggle[aria-expanded=false]::after {
  transform: rotate(-180deg);
}
ul:not(.navbar-nav) li .dropdown-toggle[aria-expanded=true] {
  background-color: rgba(200, 200, 200, 0.4) !important;
}
ul:not(.navbar-nav) li .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(0deg);
}
ul:not(.navbar-nav) li .nav-link {
  font-size: 14px !important;
  display: flex;
  align-items: center;
  padding: 4px 8px !important;
}
ul:not(.navbar-nav) li img.icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
ul:not(.navbar-nav) ul {
  margin-top: 5px;
  margin-left: 15px;
}

@media (max-width: 991px) {
  ul.nav li .nav-link {
    font-size: 14px !important;
    display: flex;
    align-items: center;
    padding: 3px 4px !important;
  }
}
