.sidebar::before {
  background-color: white !important;
}

ul li i {
  font-size: 20px !important;
}
ul li .dropdown-toggle::after {
  margin-left: 8px;
}
ul li .dropdown-toggle[aria-expanded=false]::after {
  transform: rotate(-180deg);
}
ul li .dropdown-toggle[aria-expanded=true] {
  background-color: rgba(200, 200, 200, 0.4) !important;
}
ul li .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(0deg);
}
ul li .nav-link {
  font-size: 14px !important;
  display: flex;
  align-items: center;
}
ul ul {
  margin-left: 15px;
}
