.selectpicker {
  display: none;
}

.swal2-toast-shown {
  background-color: #eee !important;
}

.text-one-line, .bootstrap-select > .dropdown-toggle > .filter-option, .bmd-label-floating {
  white-space: nowrap;
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.tooltip {
  font-style: italic;
}

.swal2-shown {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar::before {
  cursor: pointer;
  user-select: none;
  background-color: white !important;
}

.invalid-feedback *,
.invalid-feedback {
  color: red !important;
  font-size: 13px !important;
}
.invalid-feedback *.default,
.invalid-feedback.default {
  display: block;
}

.form-check > .form-check-label {
  min-height: 19px;
}

table .form-check {
  margin: 0 !important;
}
table .form-check .form-check-label > span.form-check-sign::before {
  top: 15px !important;
  left: 2px !important;
  background-color: rebeccapurple;
  z-index: 9999999;
}
table .form-check .form-check-label > span.form-check-sign > .check {
  top: 12px !important;
  border-radius: 100%;
  width: 26px;
  height: 26px;
}
table .form-check .form-check-label > span.form-check-sign > .check::before {
  left: 3px !important;
  top: 3px !important;
  color: green;
}
table thead > tr > th.auto-index-head,
table thead > tr > th.select {
  width: 50px;
}

td[ai] {
  font-weight: 600;
  font-style: italic;
  color: blueviolet;
}

ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) {
  margin-top: 10px !important;
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) li i {
  font-size: 18px !important;
  margin-right: 8px !important;
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) li .dropdown-toggle::after {
  margin-left: 8px;
  transform: rotate(-180deg);
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) li .dropdown-toggle[aria-expanded=false]::after {
  transform: rotate(-180deg);
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) li .dropdown-toggle[aria-expanded=true] {
  background-color: rgba(200, 200, 200, 0.4) !important;
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) li .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(0deg);
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) li .nav-link {
  font-size: 14px !important;
  display: flex;
  align-items: center;
  padding: 4px 8px !important;
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) li img.icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
ul:not(.navbar-nav):not([role=presentation]):not(.nav-tabs) ul {
  margin-top: 5px;
  margin-left: 15px;
}

@media (max-width: 991px) {
  ul.nav:not(.nav-tabs):not([role=presentation]) li .nav-link {
    font-size: 14px !important;
    display: flex;
    align-items: center;
    padding: 3px 4px !important;
  }
}
<<<<<<< HEAD
*,
:after,
:before {
  box-sizing: border-box;
}

.bootstrap-select > .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bootstrap-select > .dropdown-toggle > .filter-option {
  margin-right: auto;
  padding-right: 15px;
}
.bootstrap-select > .dropdown-menu ul {
  position: unset !important;
  cursor: pointer;
}
.bootstrap-select > .dropdown-menu ul > li.selected > a {
  color: white !important;
  background-color: #9c27b0;
}
.bootstrap-select > .dropdown-menu ul > li.disabled > a {
  box-shadow: none !important;
=======
strong {
  color: red;
>>>>>>> 32af8890aafc1b41c0d2a76e8351281ef504551b
}
