// Bootstrap brand color customization


/*     brand Colors              */

// $brand-primary:              $purple-500 !default;
$brand-primary:              rgb(120, 95, 170) !default;
// $brand-info:                 $cyan-500 !default;
$brand-info:                 rgb(0, 192, 197) !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
// $brand-danger:               $red-500 !default;
$brand-danger:               rgb(243, 62, 54) !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
