.sidebar::before {
    cursor: pointer;
    user-select: none;
    background-color: white !important;
}
ul:not(.navbar-nav) {
    margin-top: 10px !important;
    li {
        i {
            font-size: 18px !important;
            margin-right: 8px !important;
        }
        .dropdown-toggle {
            &::after {
                margin-left: 8px;
                transform: rotate(-180deg);
            }
            &[aria-expanded="false"]::after {
                transform: rotate(-180deg);
            }
            &[aria-expanded="true"] {
                background-color: rgba(200, 200, 200, 0.4) !important;
                &::after {
                    transform: rotate(0deg);
                }
            }
        }
        .nav-link {
            font-size: 14px !important;
            display: flex;
            align-items: center;
            padding: 4px 8px !important;
        }
        img.icon {
            width: 18px;
            height: 18px;
            object-fit: contain;
        }
    }
    ul {
        margin-top: 5px;
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    ul.nav {
        li {
            .nav-link {
                font-size: 14px !important;
                display: flex;
                align-items: center;
                padding: 3px 4px !important;
            }
        }
    }
}
