$bodyColor: rgb(253,253,252);
body {
    background: $bodyColor;
}
.alert-message {
    display: none;
}
.selectpicker {
    display: none;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
}
.swal2-toast-shown {
    background-color: $bodyColor !important;
}
.text-one-line {
    white-space: nowrap;
    max-width: calc(100% - 20px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.tooltip {
    font-style: italic;
}
.swal2-shown {
    background-color: rgba(0, 0, 0, 0.1);
}
.sidebar {
    &::before {
        cursor: pointer;
        user-select: none;
        background-color: white !important;
    }
    .logo {
        background-color: $bodyColor;
        box-shadow: 4px 0px 8px -1px;
        height: 70px;
        text-align: center;
    }
}
.invalid-feedback *,
.invalid-feedback {
    color: red !important;
    font-size: 13px !important;
    &.default {
        display: block;
    }
}
.form-check {
    > .form-check-label {
        min-height: 19px;
    }
}
.bmd-label-floating {
    @extend .text-one-line;
}
table {
    .form-check {
        .form-check-label > span.form-check-sign {
            &::before {
                top: 12px !important;
                background-color: rebeccapurple;
                z-index: 9999999;
            }
            > .check {
                top: 12px !important;
                // border-radius: 100%;
                width: 22px;
                height: 22px;
                &::before {
                    left: 1px !important;
                    top: 1px !important;
                }
            }
        }
        margin: 0 !important;
    }
    thead > tr > th.auto-index-head,
    thead > tr > th.select {
        width: 1px;
    }
    &.mobile {
        > thead > tr {
            th.th-mobile {
                display: none;
            }
            th.th-action {
                width: 1px;
            }
        }
        > tbody > tr > {
            td.td-mobile {
                display: none;
            }
            td .cell::before {
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 600px) {
    table.mobile {
        > thead > tr {
            th.th-mobile {
                display: table-cell;
            }
            th:not(.th-mobile):not(.auto-index-head):not(.select):not(.th-action) {
                display: none;
            }
        }
        > tbody > tr {
            > td.td-mobile {
                display: table-cell;
            }
            > td:not(.td-mobile):not(.td-action):not([ai]):not([sl]) {
                display: none;
            }
        }
    }
}

td[ai] {
    font-weight: 600;
    font-style: italic;
    color: blueviolet;
}
.btn-icon {
    width: 30px !important;
    height: 30px !important;
    font-size: 16px;
    padding: 0 !important;
}
ul:not(.navbar-nav):not([role="presentation"]):not(.nav-tabs) {
    margin-top: 10px !important;
    li {
        i {
            font-size: 18px !important;
            margin-right: 8px !important;
        }
        .nav-link {
            font-size: 14px !important;
            display: flex;
            align-items: center;
            padding: 4px 8px !important;
        }
        img.icon {
            width: 18px;
            height: 18px;
            object-fit: contain;
        }
        &[aria-expanded="true"] {
            background-color: rgba(200, 200, 200, 0.4) !important;
        }
    }
    ul {
        margin-top: 5px;
        margin-left: 15px;
    }
}

.dropdown-toggle {
    &::after {
        margin-left: 8px;
        transform: rotate(-180deg);
    }
    &[aria-expanded="false"]::after {
        transform: rotate(-180deg);
    }
    &[aria-expanded="true"] {
        &::after {
            transform: rotate(0deg);
        }
    }
}
.swal2-container.swal2-top-right {
    left: calc(50% - 260px) !important;
    transform: translateX(-50%);
}
@media (max-width: 991px) {
    ul.nav:not(.nav-tabs):not([role="presentation"]) {
        li {
            .nav-link {
                font-size: 14px !important;
                display: flex;
                align-items: center;
                padding: 3px 4px !important;
            }
        }
    }
    .navbar#navbar {
        background-color: white !important;
        width: 100% !important;
        box-shadow: 0px 0px 8px -1px !important;
        left: 0 !important;
    }
    .container-fluid {
        padding: 0 !important;
    }
    .swal2-container.swal2-top-right {
        left: 0px !important;
        right: unset !important;
        transform: unset !important;
    }
}
.navbar#navbar {
    position: fixed !important;
    width: calc(100% - 260px);
    background-color: $bodyColor !important;
    box-shadow: 7px 0px 8px -1px;
    left: 260px;
}

.bootstrap-select {
    > .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > .filter-option {
            margin-right: auto;
            padding-right: 15px;
            @extend .text-one-line;
        }
    }
    > .dropdown-menu {
        ul {
            // display: flex;
            position: unset !important;
            cursor: pointer;

            > li {
                &.selected > a {
                    color: white !important;
                    background-color: #9c27b0;
                }
                &.disabled {
                    > a {
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}
.nav-tabs-navigation > .nav-tabs-wrapper > ul.nav-tabs {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rebeccapurple !important;
    overflow-x: auto;
    overflow-y: hidden;
}
.nav-tabs-navigation > {
    width: 100%;
}
