#form-region {
    width: 100%;
    margin: auto;
    > .content {
        width: 100%;
    }
}
ul.icc {
    padding: 0;
    .form-check-label {
        width: 100%;
    }
    li.menu-item {
        margin-bottom: 10px;
        .parent-control {
            .form-check-radio {
                display: none !important;
            }
            display: flex;
            > .tab-item {
                align-items: center;
                width: 100%;
                display: flex;
                > a.btn {
                    text-align: left;
                    margin: 0 !important;
                    width: 100%;
                    color: white !important;
                }
                .btn-icon {
                    margin: 0 3px;
                    i {
                        margin: 0;
                    }
                }
            }
        }
    }
}
ul.icc.move-mode {
    .form-check-radio {
        display: block !important;
    }
    .dropdown{
        display: none !important;
    }
}
